.App {
  text-align: center;
}

#cont
{
  text-align: center;
  margin-top: 10%;
  background-color: aquamarine;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 15px;
}
input{
  padding: 5%;
  box-shadow: 0 0 25px goldenrod;
}
img{
  width: 20%;
}

button{
  padding: 2%;
  margin: 2%;
  box-shadow: 0 0 25px ghostwhite;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  
    background-image: radial-gradient(aqua, pink,magenta,goldenrod);
    background-size: cover;
  
}